*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(135deg,#020617,#172554,#581c87);
    overflow: hidden;
}
#main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginform{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2),
                inset 0 0 10px rgba(255,255,255,0.2);

}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: medium;
}
input{
    color: rgba(255, 255, 255, 0.746);
    padding: 12px;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    background:rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2),
                inset 0 0 10px rgba(255,255,255,0.2);
}
#look{
    width: 10px;
    height: 10px;
}
#btn{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition:all 2s;
    background:rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2),
                inset 0 0 10px rgba(255,255,255,0.2);
}
#btn:hover{
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2),
                inset 0 0 40px rgba(255,255,255,0.6);
}
#login{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    text-shadow:0 0 20px rgba(0, 255, 13, 0.934);
}
.show{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
span{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.flow{
    text-align: center;
}
a{
    color: beige;
}
@media (max-width:768px) {
    .loginform{
        max-width: 300px;
    }
}